.name {
    font-weight: 700;
    font-size: 40px;
    color: rgb(103, 2, 175);
    display: inline-block;
}

.job-title {
    font-weight: 600;
    font-style: italic;
    display: inline-block;
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.background {
    background: linear-gradient(90deg, transparent, rgba(7, 2, 2, 0.321), rgba(7, 2, 2, 0.645), rgba(7, 2, 2, 0.255), transparent);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}


.resume-container {
    margin: 30px;
    width: 1080px;
    height: 1920px;
    /* 16:9 aspect ratio */
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    background-color: white;
}

.resume {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    margin-bottom: 10px;
}

.section-title {
    color: rgb(198, 92, 0);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 8px;
}

/* Adjust the layout for different screen sizes */
@media (max-width: 768px) {
    .container {
        height: auto;
    }

    .resume-container {
        width: 90%;
        height: auto;
        padding-bottom: 56.25%;
        /* 16:9 aspect ratio for mobile devices */
    }

    .resume {
        font-size: 10px;
    }
}

.skill {
    display: flex;
    align-items: center;
    font-size: 12px;
    
}
.skill-name{
    width: 150px;
}
.stars {
    margin-left: 5px;
}

.star {
    font-size: 18px;
    color: gold;
}


.empty-star:before {
    content: '\2606';
    color: gray;
    /* Filled star unicode */
}

.filled-star:before {
    content: "\2605";
    color: gold;
    /* Filled star unicode */
}

.experience {
    margin-bottom: 30px;
}

.experience-title {
    color: rgb(103, 2, 175);
    font-size: 16px;
    font-weight: bold;
}

.experience-date {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 7px;
}

.experience-description {
    font-size: 12px;
}